$colour: #00A2D8

.nav
    background: $colour
    height: 50px
    width: 100vw

.routes
    color: white
    text-decoration: none
    font-family: 'Roboto', sans-serif
    text-transform: uppercase
    font-weight: 600
    margin: 12px 10px 0 20px

    &:hover
        text-decoration: none
    
.display
    border-radius: 50px
    width: 40px
    height: 40px
    margin: 2.5px 20px 0 10px

    &:hover
        cursor: pointer

.drop
    position: absolute
    top: 50px
    right: 10px
    background: $colour
    border-radius: 0 0 4px 4px
    padding: 10px
